Package: com.ofofatasmartux.coddildy
Name: coddildy
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Call of Duty Mobile Tweak
Author: ofofatasmartux
Maintainer: ofofatasmartux
Section: Tweaks
